body {
    background-color: bisque;
    display: flex;
    margin: 100px 525px;
}

button {
    height: 90px;
    width: 90px;
    font-size: 35px;
    border-radius: 10%;
    margin-top: 3px;
}

.calculator-background {
    background-color: #3C4048;
    border: 4px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;

}

.num0 {
    width: 184px;
}

.divide, .multiply, .minus, .plus, .equals {
    background-color: orangered;
}

#display{
    border-bottom: 4px solid black;
    text-align: end;
    font-size: 75px;
    background-color: #B2B2B2;
    
}

